body.woocommerce-checkout {
    form {
        .woocommerce-billing-fields {
            h3:first-child {
                display: none;
            }
        }

        //dajemy własny tytuł tej sekcji, nie chcemy dawać możliowści odklikiwania checkbox
        #ship-to-different-address {
            display: none;
        }

        .am-delivery-date {
            @include basicMarginTop(40);
            @include basicMarginBottom(40);


        }

        .delivery-calendar {
            @include basicMarginBottom30();

        }

        #order_review_heading {
            display: none;
        }

        ul.payment_methods {
            label[for="payment_method_paypal"] {
                display: inline-flex;
                align-items: center;

                img {
                    margin-right: 7px !important;
                }
            }
        }

        #woo-commerce-subscription-opt-in {
            display: none;
        }

        .input-checkbox {
            //display: inline-block;
            //width: 15px;
            //height: 15px;
            //background-color: #fff;
            //cursor: pointer;
        }

        .form-row .input-checkbox {
            //display: inline-block;
            //width: 15px;
            //height: 15px;
        }

        .form-row#no_address_field {
            label {
                @include basicFontSize(18);
                line-height: 1.3;
            }

            .optional {
                display: none;
            }
        }

        .form-row#shipping_address_1_field,
        .form-row#shipping_postcode_field,
        .form-row#shipping_city_field {
            .optional {
                display: none;
            }
        }

        #copy-buyer-details_field {
            span.optional {
                display: none;
            }
        }
    }


}