main {
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="search"],
    select:not(.ui-datepicker-year):not(.ui-datepicker-month),
    textarea {
        width: toVw(320);
        height: toVw(50);
        background-color: #fff;
        border: 1px solid $colorBorders;
        display: flex;
        align-items: center;
        padding: 0 toVw(20);
        @include basicVwProperty(font-size, 13);

        @include maxw($br-l) {
            width: 320px;
            height: 50px;
            padding: 0 20px;
        }


        @include maxw($br-xs) {
            width: 290px;
        }

        &::placeholder {
            color: $color1;
            font-weight: 300;
        }
    }

    select {
        cursor: pointer;
        @include customSelectArrow();
    }

    input[type=radio],
    input[type=checkbox] {
        cursor: pointer !important;
    }

    input[type="search"] {
        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
            @include basicVwProperty(height, 10);
            @include basicVwProperty(width, 10);
            @include with-css-background();
            background-image: url('/images/svg/close-x-grey.svg');
            cursor: pointer;
        }
    }

    textarea {
        padding-top: 10px;
    }


}