$color1: #1d2029;
$color1a: #555555;
$color2: #d82069;
$color2a: rgba(216, 32, 105, 0.7);
$color2b: rgba(216, 32, 105, 0.3);
$color3: #4fad00;
$color4: #893ca9;
$colorGrey1: #555555;
$colorGrey2: #F6F6F6;
$colorGrey3: #fafafa;
$colorBorders: #969595;
$linksColor: $color2;
$colorWarnings: #d00a3a;
$font1: 'Quicksand', sans-serif;
$font2: 'Open Sans', sans-serif;
$headingsFont: $font1;
$textFont: $font2;

$br-xs: 500px;
$br-sm: 800px;
$br-md: 1100px;
$br-l: 1440px;
$br-xl: 1600px;
$brMobileMenu: $br-sm;
$mobileBreakpoint: $br-sm;