.am-product-labels-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .label {
        @include labelOnImage();
        @include basicMargin(right, 10);
        @include basicMarginBottom(10);


        &:last-child {
            @include basicMargin(right, 0);
        }


    }

    .label.recommended {
        background-color: $color3;
    }

    .label.new {
        background-color: $color4;
    }

    .label.on-sale {
        background-color: #d90357;
        color: #fff;
        display: flex;
        align-items: center;

        img {
            @include basicWidth(12);
            @include basicHeight(12);
            object-fit: contain;
            object-position: center;
            @include basicMarginLeft(5);

        }
    }


}