@mixin postContent() {
    h1 {
        @include heading1();
    }

    h2 {
        @include heading2();
    }

    h3 {
        @include heading3();
    }

    h4 {
        @include heading4();
    }


    p {
        line-height: 1.6;
        margin: toVw(15) 0;

        @include maxw($br-l) {
            margin: 15px 0;
        }
    }

}

@mixin labelOnImage() {
    color: #fff;
    @include basicVwProperty(border-radius, 10);
    text-transform: uppercase;
    font-family: $font1;
    font-weight: 300;
    @include basicFontSize(13);
    @include basicPaddingTopBottom(4);
    @include basicPaddingLeftRight(8);
}